<h1>Posts</h1>

<h2>What people are talking about</h2>
<% @popular_posts.each do |post| %>
  <%= render 'post', :post => post, :user => current_user  %>
<% end %>

<h2>All Posts</h2>
<% @posts.each do |post| %>
  <%= render 'post', :post => post, :user => current_user  %>
<% end %>
